.name-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 16px;
}

.name-wrapper img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.loca-data-wrapper,
.loca-data-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loca-data-wrapper div {
  margin-bottom: 1rem;
}

.label-location {
  text-align: center;
  padding: 16px;
}

@media (max-width: 768px) {
  .location h1 {
    text-align: center;
  }
  .loca-data-wrapper {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
  .name-wrapper img {
    width: 300px;
  }
}
