.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(10px + 2vmin);
  color: var(--blue-light);
  text-align: center;
  background-image: url('../images/rick2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.menu-box {
  background: var(--blue-light);
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

.menu-box-dark {
  background: var(--blue-dark);
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

.app-link {
  color: white;
}

.app-link:hover {
  color: var(--gray);
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
