.items {
  margin: 2rem auto;
}
.items h1 {
  text-align: center;
  color: white;
}

.items-container {
  /* margin-top: 1rem; */
  /* margin-right: 2rem; */
  /* padding-bottom: 5rem; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* display: flex; */
  /* box-sizing: inherit; */
  /* flex-wrap: wrap; */
  /* grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); */
  /* grid-gap: 3rem 0.75rem; */
  /* align-items: center; */
  display: grid;
  grid: auto / auto auto auto auto;
  grid-gap: 3rem 0.75rem;
  /* margin-top: 1rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 2rem 0.75rem; */
}

.items-grid-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.items-box {
  width: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  text-align: center;
}

.items-name {
  color: var(--blue-dark);
  font-weight: 600;
  text-transform: capitalize;
}
